// @import "https://unpkg.com/leaflet@1.6.0/dist/leaflet.css";
// @import "https://unpkg.com/leaflet-draw@1.0.4/dist/leaflet.draw.css";
@import "https://api.mapbox.com/mapbox-gl-js/v1.7.0/mapbox-gl.css";
@import "https://unpkg.com/bootstrap@4.3.1/dist/css/bootstrap.min.css";

h1 {
    color: green;
}

body {
    padding: 0px;
    margin: 0px;
    // Voorkom dat er in firefox en chrome een 'elastic bounce' 
    // optreed wanneer je niet verder kan scrollen
    overscroll-behavior: none;
}

#map {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.fake-scroll {
  position: absolute;
  top: 0;
  width: 1px;
}


.mapbox-gl-play_pauze {
  width: 20px;
  background-repeat: no-repeat;
  background-position: center;
  pointer-events: auto;
}